<?xml version="1.0" encoding="UTF-8"?><Menu xsi:noNamespaceSchemaLocation="../Schemas/3.0/indexes/Menu.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="http://purl.org/dc/elements/1.1/">
<dc:date xmlns:dc="http://purl.org/dc/elements/1.1/">2017-01-26T00:23:19</dc:date>
<Audience>Associations</Audience><Item type="Theme" ID="N31403">
<Titre>Formalités administratives d'une association</Titre><Item type="Dossier" ID="N19554">
<Titre>Création</Titre>
</Item>
<Item type="Dossier" ID="N21962">
<Titre>Évolutions</Titre>
</Item>
<Item type="Dossier" ID="N15871">
<Titre>Partenariat avec les pouvoirs publics</Titre>
</Item>
</Item>
<Item type="Theme" ID="N31404">
<Titre>Fonctionnement d'une association</Titre><Item type="Dossier" ID="N19590">
<Titre>Dirigeants et responsables</Titre>
</Item>
<Item type="Dossier" ID="N22150">
<Titre>Bénévoles, volontaires et salariés</Titre>
</Item>
<Item type="Dossier" ID="N31331">
<Titre>Assurance et responsabilité</Titre>
</Item>
<Item type="Dossier" ID="N31332">
<Titre>Organisation d'événements</Titre>
</Item>
</Item>
<Item type="Theme" ID="N31405">
<Titre>Financement et fiscalité d'une association</Titre><Item type="Dossier" ID="N21960">
<Titre>Collecte de fonds (cotisations, dons, subventions)</Titre>
</Item>
<Item type="Dossier" ID="N22179">
<Titre>Activités commerciales (buvettes, loteries, braderies)</Titre>
</Item>
<Item type="Dossier" ID="N31626">
<Titre>Fiscalité d'une association</Titre>
</Item>
</Item>
<Item type="Theme" ID="N31406">
<Titre>Associations spécifiques et fondations</Titre><Item type="Dossier" ID="N31028">
<Titre>Fondations</Titre>
</Item>
<Item type="Dossier" ID="N558">
<Titre>Associations sous régime légal spécial</Titre>
</Item>
<Item type="Dossier" ID="N19508">
<Titre>Associations représentatives</Titre>
</Item>
</Item>
</Menu>
