<?xml version="1.0" encoding="UTF-8"?><Menu xsi:noNamespaceSchemaLocation="../Schemas/3.0/indexes/Menu.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="http://purl.org/dc/elements/1.1/">
<dc:date xmlns:dc="http://purl.org/dc/elements/1.1/">2017-01-26T00:18:33</dc:date>
<Audience>Professionnels</Audience><Item type="Theme" ID="N24264">
<Titre>Création - Modification - Cessation</Titre><Item type="Sous-theme" ID="N31375">
<Titre>Création d'entreprise</Titre><Item type="Dossier" ID="N16147">
<Titre>Préalables</Titre>
</Item>
<Item type="Dossier" ID="N16153">
<Titre>Financement</Titre>
</Item>
<Item type="Dossier" ID="N16178">
<Titre>Formalités</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N31376">
<Titre>Modification - Cessation</Titre><Item type="Dossier" ID="N31143">
<Titre>Modification d'une entreprise</Titre>
</Item>
<Item type="Dossier" ID="N16594">
<Titre>Cessation, transmission et reprise d'entreprise</Titre>
</Item>
</Item>
</Item>
<Item type="Theme" ID="N24266">
<Titre>Gestion - Finances</Titre><Item type="Sous-theme" ID="N31377">
<Titre>Baux commerciaux et professionnels</Titre><Item type="Dossier" ID="N31378">
<Titre>Règles de domiciliation</Titre>
</Item>
<Item type="Dossier" ID="N31379">
<Titre>Conclusion d'un bail</Titre>
</Item>
<Item type="Dossier" ID="N31380">
<Titre>Modification en cours de bail</Titre>
</Item>
<Item type="Dossier" ID="N31381">
<Titre>Fin de bail</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N31382">
<Titre>Comptabilité</Titre><Item type="Dossier" ID="N31383">
<Titre>Règles comptables</Titre>
</Item>
<Item type="Dossier" ID="N31384">
<Titre>Facturation - Paiement</Titre>
</Item>
<Item type="Dossier" ID="N31440">
<Titre>Infractions pénales des entreprises</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N31385">
<Titre>Marchés publics</Titre><Item type="Dossier" ID="N31386">
<Titre>Formalités de passation d'un marché public</Titre>
</Item>
<Item type="Dossier" ID="N31387">
<Titre>Réponse à un avis de marché public</Titre>
</Item>
<Item type="Dossier" ID="N31388">
<Titre>Exécution d'un marché public</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N31389">
<Titre>Financement - Assurances</Titre><Item type="Dossier" ID="N22284">
<Titre>Financement</Titre>
</Item>
<Item type="Dossier" ID="N17323">
<Titre>Assurance</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N31390">
<Titre>Entreprises en difficulté</Titre><Item type="Dossier" ID="N31391">
<Titre>Prévention</Titre>
</Item>
<Item type="Dossier" ID="N31392">
<Titre>Traitement</Titre>
</Item>
</Item>
</Item>
<Item type="Theme" ID="N24265">
<Titre>Fiscalité</Titre><Item type="Sous-theme" ID="N10736">
<Titre>Impôts liés au chiffre d'affaires</Titre><Item type="Dossier" ID="N13442">
<Titre>Imposition des sociétés</Titre>
</Item>
<Item type="Dossier" ID="N23456">
<Titre>Impôt sur le revenu pour les professionnels</Titre>
</Item>
<Item type="Dossier" ID="N13445">
<Titre>Taxe sur la valeur ajoutée (TVA)</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N22249">
<Titre>Impôts locaux</Titre><Item type="Dossier" ID="N13443">
<Titre>Contribution économique territoriale (CET)</Titre>
</Item>
<Item type="Dossier" ID="N22470">
<Titre>Taxes foncières</Titre>
</Item>
<Item type="Dossier" ID="N22471">
<Titre>Taxes et redevances locales</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N23457">
<Titre>Autres impôts et taxes</Titre><Item type="Dossier" ID="N13444">
<Titre>Taxes liées aux salaires</Titre>
</Item>
<Item type="Dossier" ID="N22250">
<Titre>Taxes liées à l'activité des entreprises</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N22251">
<Titre>Relations avec l'administration fiscale</Titre><Item type="Dossier" ID="N23594">
<Titre>Réclamations - Contentieux fiscaux</Titre>
</Item>
<Item type="Dossier" ID="N10812">
<Titre>Allégements fiscaux</Titre>
</Item>
</Item>
<VoirAussi important="non">
<Fiche ID="F31190" audience="Professionnels">
<Titre>Quels sont les numéros d'identification des entreprises ?</Titre>
</Fiche>
</VoirAussi>
</Item>
<Item type="Theme" ID="N24267">
<Titre>Ressources humaines</Titre><Item type="Sous-theme" ID="N10778">
<Titre>Recrutement, aides à l'emploi</Titre><Item type="Dossier" ID="N22781">
<Titre>Formalités d'embauche</Titre>
</Item>
<Item type="Dossier" ID="N16992">
<Titre>Recrutements spécifiques</Titre>
</Item>
<Item type="Dossier" ID="N23663">
<Titre>Aides à l'embauche</Titre>
</Item>
<Item type="Dossier" ID="N17109">
<Titre>Contrats de travail</Titre>
</Item>
<Item type="Dossier" ID="N31577">
<Titre>Rémunération</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N10813">
<Titre>Réglementation du travail</Titre><Item type="Dossier" ID="N14601">
<Titre>Santé et sécurité au travail</Titre>
</Item>
<Item type="Dossier" ID="N31002">
<Titre>Chômage partiel</Titre>
</Item>
<Item type="Dossier" ID="N31006">
<Titre>Licenciement</Titre>
</Item>
<Item type="Dossier" ID="N13415">
<Titre>Fin et rupture de contrat</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N23430">
<Titre>Protection sociale</Titre><Item type="Dossier" ID="N10779">
<Titre>Cotisations et contributions sociales de l'employeur</Titre>
</Item>
<Item type="Dossier" ID="N10805">
<Titre>Régimes sociaux des travailleurs indépendants</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N364">
<Titre>Action sociale</Titre><Item type="Dossier" ID="N13414">
<Titre>Formation</Titre>
</Item>
<Item type="Dossier" ID="N17310">
<Titre>Droits syndicaux</Titre>
</Item>
<Item type="Dossier" ID="N24663">
<Titre>Prestations sociales de l'employeur</Titre>
</Item>
</Item>
<VoirAussi important="non">
<Fiche ID="F23106" audience="Professionnels">
<Titre>Quelles sont les obligations d'affichage dans une entreprise ?</Titre>
</Fiche>
<Fiche ID="F2395" audience="Professionnels">
<Titre>Où peut-on consulter ou se procurer une convention collective ?</Titre>
</Fiche>
</VoirAussi>
</Item>
<Item type="Theme" ID="N24268">
<Titre>Vente - Commerce</Titre><Item type="Sous-theme" ID="N31352">
<Titre>Réglementation du commerce</Titre><Item type="Dossier" ID="N31353">
<Titre>Autorisations pour l'installation d'un commerce</Titre>
</Item>
<Item type="Dossier" ID="N31354">
<Titre>Pratiques commerciales</Titre>
</Item>
<Item type="Dossier" ID="N31355">
<Titre>Publicité extérieure</Titre>
</Item>
<Item type="Dossier" ID="N22281">
<Titre>Importation - Exportation</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N31357">
<Titre>Commerces spécifiques</Titre><Item type="Dossier" ID="N31358">
<Titre>Restauration - Débit de boisson</Titre>
</Item>
<Item type="Dossier" ID="N31359">
<Titre>Tabac</Titre>
</Item>
<Item type="Dossier" ID="N31360">
<Titre>Agent immobilier</Titre>
</Item>
<Item type="Dossier" ID="N31361">
<Titre>Autres commerces</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N31445">
<Titre>Litiges commerciaux</Titre><Item type="Dossier" ID="N17163">
<Titre>Litiges liés au paiement</Titre>
</Item>
<Item type="Dossier" ID="N31446">
<Titre>Litiges liés aux produits ou aux prestations</Titre>
</Item>
</Item>
</Item>
<Item type="Theme" ID="N24269">
<Titre>Secteurs d'activité</Titre><Item type="Sous-theme" ID="N22282">
<Titre>Culture</Titre><Item type="Dossier" ID="N18471">
<Titre>Secteur du livre et de la presse</Titre>
</Item>
<Item type="Dossier" ID="N31351">
<Titre>Artistes plasticiens</Titre>
</Item>
<Item type="Dossier" ID="N13347">
<Titre>Spectacle vivant (théâtre, danse, spectacles)</Titre>
</Item>
<Item type="Dossier" ID="N18470">
<Titre>Cinéma</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N10810">
<Titre>Environnement</Titre><Item type="Dossier" ID="N13363">
<Titre>Déchets et prévention de la pollution</Titre>
</Item>
<Item type="Dossier" ID="N22377">
<Titre>Protection de la faune et de la flore</Titre>
</Item>
<Item type="Dossier" ID="N14422">
<Titre>Aides pour l'environnement</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N10675">
<Titre>Agriculture</Titre><Item type="Dossier" ID="N31140">
<Titre>Bail rural</Titre>
</Item>
<Item type="Dossier" ID="N14419">
<Titre>Aides à la production agricole</Titre>
</Item>
<Item type="Dossier" ID="N23662">
<Titre>Obligations en matière d'agriculture</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N22280">
<Titre>Recherche et développement</Titre><Item type="Dossier" ID="N10734">
<Titre>Propriété intellectuelle</Titre>
</Item>
<Item type="Dossier" ID="N23442">
<Titre>Recherche</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N16999">
<Titre>Transports</Titre><Item type="Dossier" ID="N19470">
<Titre>Automobile-Moto</Titre>
</Item>
<Item type="Dossier" ID="N18568">
<Titre>Poids-lourds</Titre>
</Item>
<Item type="Dossier" ID="N18569">
<Titre>Aviation et transport maritime</Titre>
</Item>
</Item>
<Item type="Sous-theme" ID="N23450">
<Titre>Autres secteurs</Titre><Item type="Dossier" ID="N13345">
<Titre>Urbanisme - BTP</Titre>
</Item>
<Item type="Dossier" ID="N13352">
<Titre>Tourisme</Titre>
</Item>
<Item type="Dossier" ID="N13337">
<Titre>Sécurité</Titre>
</Item>
<Item type="Dossier" ID="N17972">
<Titre>Santé</Titre>
</Item>
</Item>
</Item>
</Menu>
